In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2.0,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2.0,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0.0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0.0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1.0,Snack,scooter,1,No,Metropolitian,(min) 30

In [4]:
df.iloc[30,10]

'22:40:00'

In [7]:
df.iloc[0:21, 0:3]

         ID Delivery_person_ID Delivery_person_Age
0   0x4607     INDORES13DEL02                   37
1   0xb379     BANGRES18DEL02                   34
2   0x5d6d     BANGRES19DEL01                   23
3   0x7a6a    COIMBRES13DEL02                   38
4   0x70a2     CHENRES12DEL01                   32
5   0x9bb4      HYDRES09DEL03                   22
6   0x95b4   RANCHIRES15DEL01                   33
7   0x9eb2      MYSRES15DEL02                   35
8   0x1102      HYDRES05DEL02                   22
9   0xcdcd      DEHRES17DEL01                   36
10  0xd987      KOCRES16DEL01                   21
11  0x2784     PUNERES13DEL03                   23
12  0xc8b6     LUDHRES15DEL02                   34
13  0xdb64      KNPRES14DEL02                   24
14  0x3af3      MUMRES15DEL03                   29
15  0x3aab      MYSRES01DEL01                   35
16  0x689b     PUNERES20DEL01                   33
17  0x6f67      HYDRES14DEL01                   34
18  0xc9cf      KOLRES15DEL03                   21
19  0x36b8     PUNERES19DEL02                   25
20  0x5795   RANCHIRES06DEL02                   31

In [10]:
df.loc[40:42, ['Restaurant_latitude',
'Restaurant_longitude', 'Delivery_location_latitude',
'Delivery_location_longitude']]

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude
40,12.972532,77.608179,13.042532,77.678179
41,13.064181,80.236442,13.134181,80.306442
42,19.121999,72.908493,19.201999,72.988493

In [12]:
df.loc[0:50,'Order_Date'].min()

'01-03-2022'

In [16]:
df.loc[0:10, 'City'].unique()

array(['Urban ', 'Metropolitian '], dtype=object)

In [19]:
unique_density = list(df.loc[0:20, 'Road_traffic_density'].unique())
unique_density

['High ', 'Jam ', 'Low ', 'Medium ']

In [22]:
df.loc[50:70, ['ID', 'Delivery_person_Age']].sort_values(by='Delivery_person_Age', ascending=False).iloc[0]['ID']

'0xde72 '

In [25]:
oldest = df.loc[50:70, 'Delivery_person_Age']
oldest.max()

'39'

In [33]:
df.loc[50:70, ['ID', 'Delivery_person_Ratings']].sort_values(by='Delivery_person_Ratings',ascending = False).iloc[0]['ID']

'0xc1ff '

In [34]:
df.loc[:30, 'Type_of_vehicle'].unique()

array(['motorcycle ', 'scooter ', 'electric_scooter '], dtype=object)

In [35]:
df.loc[100:120, 'Type_of_order'].unique()

array(['Snack ', 'Meal ', 'Buffet ', 'Drinks '], dtype=object)