In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2.0,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2.0,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0.0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0.0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1.0,Snack,scooter,1,No,Metropolitian,(min) 30

In [4]:
total_ids = len(df['Delivery_person_ID'].unique())
total_ids

1254

In [5]:
max_age = df['Delivery_person_Age'].max()
max_age

'NaN '

In [6]:
# Convertendo a coluna 'Delivery_person_Age' para numérico
df['Delivery_person_Age'] = pd.to_numeric(df['Delivery_person_Age'], errors='coerce')

# Verificando o novo tipo de dado da coluna
print(df['Delivery_person_Age'].dtype)

# Agora calculando o valor máximo
max_age = df['Delivery_person_Age'].max()
min_age = df['Delivery_person_Age'].min()
print(max_age)
print(min_age)

float64
50.0
15.0

In [7]:
# Encontrar o ID do entregador com a maior idade
id_max_age = df.loc[df['Delivery_person_Age'].idxmax(), 'Delivery_person_ID']

# Encontrar o ID do entregador com a menor idade
id_min_age = df.loc[df['Delivery_person_Age'].idxmin(), 'Delivery_person_ID']

print("ID do entregador com a maior idade:", id_max_age)
print("ID do entregador com a menor idade:", id_min_age)

ID do entregador com a maior idade: BANGRES05DEL01
ID do entregador com a menor idade: JAPRES15DEL03

In [8]:
df['Weatherconditions'].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN', nan], dtype=object)

In [9]:
areia_entregas = df[df['Weatherconditions'] == 'conditions Sandstorms']
areia_entregas.shape[0]

1236

In [10]:
# Remover espaços extras
df['Time_Orderd'] = df['Time_Orderd'].str.strip()

# Substituir strings vazias ou inválidas por NaN, e então usar 'coerce' para lidar com NaNs
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S', errors='coerce').dt.time

In [11]:
# Conversão segura com tratamento para entradas inválidas
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S', errors='coerce').dt.time

In [12]:
# Verificar as primeiras entradas após a conversão
print(df['Time_Orderd'].head())

0    11:30:00
1    19:45:00
2    08:30:00
3    18:00:00
4    13:30:00
Name: Time_Orderd, dtype: object

In [13]:
len(df['Road_traffic_density'].unique())

6

In [14]:
df.groupby('Weatherconditions')['ID'].count()

Weatherconditions
conditions Cloudy        1268
conditions Fog           1319
conditions NaN            116
conditions Sandstorms    1236
conditions Stormy        1293
conditions Sunny         1244
conditions Windy         1278
Name: ID, dtype: int64

In [15]:
df.groupby('Weatherconditions').count()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
Weatherconditions,,,,,,,,,,,,,,,,,,,
conditions Cloudy,1268,1268,1229,1268,1268,1268,1268,1268,1268,1236,1268,1268,1268,1268,1268,1268,1268,1268,1268
conditions Fog,1319,1319,1273,1319,1319,1319,1319,1319,1319,1278,1319,1319,1319,1319,1319,1319,1319,1319,1319
conditions NaN,116,116,12,116,116,116,116,116,116,0,116,116,116,116,116,116,116,116,116
conditions Sandstorms,1236,1236,1203,1236,1236,1236,1236,1236,1236,1205,1236,1236,1236,1236,1236,1236,1236,1236,1236
conditions Stormy,1293,1293,1256,1293,1293,1293,1293,1293,1293,1262,1293,1293,1293,1293,1293,1293,1293,1293,1293
conditions Sunny,1244,1244,1212,1244,1244,1244,1244,1244,1244,1216,1244,1244,1244,1244,1244,1244,1244,1244,1244
conditions Windy,1278,1278,1248,1278,1278,1278,1278,1278,1278,1249,1278,1278,1278,1278,1278,1278,1278,1278,1278

In [16]:
# Agrupar pelo 'Weatherconditions' e contar o número de entregadores únicos por condição
unique_deliverers_per_condition = df.groupby('Weatherconditions')['Delivery_person_ID'].nunique()

# Exibir os resultados
print(unique_deliverers_per_condition)

Weatherconditions
conditions Cloudy        750
conditions Fog           755
conditions NaN           110
conditions Sandstorms    716
conditions Stormy        713
conditions Sunny         754
conditions Windy         729
Name: Delivery_person_ID, dtype: int64

In [17]:
df.groupby('City')['Delivery_person_Age'].mean()

City
Metropolitian     29.832616
NaN               28.974747
Semi-Urban        32.851852
Urban             28.716034
Name: Delivery_person_Age, dtype: float64

In [18]:
df.groupby('City')['Delivery_person_Age'].median()

City
Metropolitian     30.0
NaN               28.0
Semi-Urban        35.0
Urban             28.0
Name: Delivery_person_Age, dtype: float64

In [19]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2.0,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2.0,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0.0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0.0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1.0,Snack,scooter,1,No,Metropolitian,(min) 30

In [20]:
df.groupby('Road_traffic_density')['ID'].count()

Road_traffic_density
High        759
Jam        2430
Low        2584
Medium     1868
NaN         113
Name: ID, dtype: int64

In [21]:
type(df.loc[0,'Delivery_person_Ratings'])

str

In [22]:
df.groupby(['City','Type_of_vehicle'])['ID'].count()

City            Type_of_vehicle
Metropolitian   bicycle                13
                electric_scooter      440
                motorcycle           3497
                scooter              1870
NaN             bicycle                 2
                electric_scooter       16
                motorcycle            101
                scooter                90
Semi-Urban      motorcycle             26
                scooter                 1
Urban           bicycle                 1
                electric_scooter      160
                motorcycle            934
                scooter               603
Name: ID, dtype: int64

In [23]:
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype(float)

In [24]:
df.groupby(['Weatherconditions','Road_traffic_density'])['Delivery_person_Ratings'].min()

Weatherconditions      Road_traffic_density
conditions Cloudy      High                    4.0
                       Jam                     4.0
                       Low                     3.5
                       Medium                  4.0
conditions Fog         High                    4.0
                       Jam                     4.0
                       Low                     3.5
                       Medium                  4.0
conditions NaN         Low                     NaN
                       NaN                     1.0
conditions Sandstorms  High                    4.0
                       Jam                     3.5
                       Low                     4.0
                       Medium                  3.5
conditions Stormy      High                    4.0
                       Jam                     3.5
                       Low                     4.0
                       Medium                  3.5
conditions Sunny       High                    3.5
                       Jam                     3.5
                       Low                     2.5
                       Medium                  4.0
conditions Windy       High                    4.0
                       Jam                     3.5
                       Low                     4.0
                       Medium                  3.5
Name: Delivery_person_Ratings, dtype: float64

In [25]:
df.groupby('Type_of_vehicle')['Delivery_person_Ratings'].mean()

Type_of_vehicle
bicycle              3.500000
electric_scooter     4.656326
motorcycle           4.620323
scooter              4.645704
Name: Delivery_person_Ratings, dtype: float64

In [26]:
df.groupby('Type_of_vehicle')['Delivery_person_Ratings'].median()

Type_of_vehicle
bicycle              3.5
electric_scooter     4.7
motorcycle           4.7
scooter              4.7
Name: Delivery_person_Ratings, dtype: float64

In [27]:
df.groupby('Type_of_vehicle')['Delivery_person_Ratings'].agg(['mean', 'median', 'std']).reset_index()

     Type_of_vehicle      mean  median       std
0           bicycle   3.500000     3.5  2.886751
1  electric_scooter   4.656326     4.7  0.301384
2        motorcycle   4.620323     4.7  0.313303
3           scooter   4.645704     4.7  0.341702

In [28]:
df.groupby('Festival')['Delivery_person_Ratings'].mean()

Festival
NaN     4.766667
No      4.633988
Yes     4.472619
Name: Delivery_person_Ratings, dtype: float64